<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - throughnothing.com</title>
        <link rel="stylesheet" href="/all.css" />
    </head>
    <body>

        <div class="sidebar">
            <a href="/" class="face-logo">
            </a>
            <div class="side-nav">
                <a target="_blog" href="http://blog.throughnothing.com">Blog</a>
                <a href="/projects">Projects</a>
                <a href="/projects">Reading</a>
                <a href="/archive">Archive</a>
            </div>
            <div class="side-footer">
                <a class="twitter" href=""></a>
                <a class="linkedin" href=""></a>
                <a class="github" href=""></a>
                <a class="goodreads" href=""></a>
            </div>
        </div>

        <div class="content">
            $body$
        </div>
    </body>
</html>