<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - throughnothing.com</title>
        <link rel="stylesheet" href="/all.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">throughnothing.com</a>
            </div>
            <div id="navigation">
                <a href="/">Blog</a>
                <a href="/projects.html">Projects</a>
                <a href="/contact.html">Contact</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
        </div>
    </body>
</html>