@import '_colors';

code
{
  color: $color5;
  border: 1px $color2;

  padding: 2px 8px;
  margin: 0 2px;
  background-color: rgba(#F4F4F4, 0.8);
  border-radius: 5px;
}

div.sourceCode
{
  /* Hang the border left of the pre in the margin. */
  /* TODO: How do I handle this when there is no div? */
  margin-left: -0.25em;
  overflow: hidden;
}

pre
{
  /* The top and bottom of the block are not baseline-aligned, but the space
   * between the top and the text baseline and between the bottom and the
   * x-height is both 1.6em. The code baseline is offset from the regular
   * baseline by 0.7em (half a line height). */
  background-color: #f8f7f4;
  border-left: 0.25rem solid $color5;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  overflow-x: auto;
  padding: 1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;

  /* Use a slightly smaller font size for code blocks, because matching the
   * x-height to the body font makes the code look too big. Do keep the same
   * line height to ensure proper baseline alignment. */
  font-size: 0.9em;
  line-height: 1.4rem;
}

code.sourceCode
{
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;

  color: #456;

  /* Syntax highlighting colors, adapted from the default prism.js theme. */
  .kw, .cf           { color: #07a; } /* Keyword, control flow */
  .dt, .at           { color: #d56; } /* Data type, function, attribute */
  .fu                { color: #690; } /* Function */
  .dv, .bn, .fl, .er { color: #905; } /* Decimal, base N, float, decimal part */
  .ch, .st           { color: #d80; } /* Character, string */
  .co                { color: #789; } /* Comment */
}