$color1_1: #010308;
$color1_2: #00030A;
$color1_3: #2F3F73;
$color1_4: #D4D9EA;
$color1_5: #8BA3F3;

$color2_1: #0C0801;
$color2_2: #0F0B00;
$color2_3: #AA8739;
$color2_4: #FFF6E4;
$color2_5: #FFD883;

$color3_1: #050B00;
$color3_2: #070E00;
$color3_3: #659933;
$color3_4: #EBF8DE;
$color3_5: #BDFB81;

$color4_1: #0B0004;
$color4_2: #0E0005;
$color4_3: #963254;
$color4_4: #F7DDE6;
$color4_5: #FB81AA;
