@import '_colors';
@import '_mixins';
@import '_code';

body {
    background-color: $color1;
    color: $color_font;
    font-size: 18px;
    line-height: 1.4em;
    /* From Bootstrap: https://v4-alpha.getbootstrap.com/content/reboot/#native-font-stack */
    // // font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    // font-family: Calluna Sans, sans-serif;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    color: darken($color_font, 10%);
    line-height: 1.2em;
}

hr {
    border-top: 3px solid desaturate(lighten($color2, 70%), 45%);
    border-bottom: none;
}

a {
    @include hover_transition;
    text-decoration: none;
    color: $color4;
}

a:hover {
    @include hover_transition;
    color: desaturate(lighten($color5, 0%), 0%);
}

ul {
    list-style-type: circle;
    color: $color_font;
}

li {
    color: $color_font;
}

blockquote {
    margin: 40px 0;
    padding: 10px 50px;
    border-left: 0.25rem solid darken($color1, 10%);
    background-color: darken($color1, 2%);
    // border-radius: 10px ;
    color: darken($color1, 60%);
}

p.caption {
    margin: 0;
    margin-top: -30px;
    padding: 0;
    font-size: 0.8em;
    color: darken($color1, 40%);
    font-style: italic;
    text-align: center;
}

.post {
    margin-bottom: 80px;
}

.post iframe {
    margin: 45px auto;
    display: block;
}

.post img {
    display: block;
    margin: 30px auto;
}

ul.posts {
    display: block;
    margin: 0;
    padding: 0;
    li {
        display: flex;
        flex-direction: row;
        line-height: 1.4em;
        a {
            font-size: 0.85em;
            margin-left: 0.4rem;
        }
        .postDate {
            font-family: Monaco, "Courier New", monospace;
            font-size: 0.65em;
            min-width: 95px;
            text-align: right;
            color: desaturate(lighten($color_font, 45%), 70%);
        }
        //  .postDate::after {
        //     color: desaturate(lighten($color_font, 45%), 80%);
        //     margin-left: 8px;
        //     content: "\00BB"
        // }
    }
}

// Small Screens
@media (max-width: 900px) {
    .sidebar {
        padding: 20px 0 !important;
        justify-content: center;
    }
    .content {
        margin: 50px 20px;
    }

    .side-nav {
        max-width: 220px;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        margin: 10px 0 !important;
    }
    div.copyright { display: none; }
}

// Large Screens
@media (min-width: 900px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 15rem;
        flex-direction: column;
    }
    .content {
        margin: 4rem 2rem 0 20rem;
        max-width: 800px;
    }

    .side-nav {
        flex-direction: column;
        align-items: center;
        align-content: flex-start;
        justify-content: center;
    }
}

div.copyright {
    // margin-top: 20px;
    margin-bottom: 10px;
    font-size: 0.7em;
    position: fixed;
    
    bottom: 0;
    color: rgba(desaturate(darken($color1, 0%), 0%), 0.35);

    a {
        color: rgba(desaturate(darken($color1, 0%), 0%), 0.35);
    }
}

.content {
    margin-bottom: 200px;
}

div.right-align {
    margin-top:-50px;
    text-align: right;
}

.sidebar {
    margin: 0;
    background-color: $color2;
    border-top: 5px solid $color5;
    padding: 3em 1em;
    color: $color1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav {
    margin: 2em 0 2em 0;
    display: flex;
    width: 90%;
}

.side-nav a {
    color: lighten($color1, 0%);
    font-weight: bold;
    font-size: 1.3em;
    margin: 0.4rem 0;
}

.side-nav a:hover {
    @include hover_transition;
    color: lighten($color4, 0%);
}

.face-logo {
    @include hover_transition;
    display: block;
    background: $color2 url(/images/me.jpg) -7px 0px no-repeat;
    height: 80pt;
    width: 80pt;
    border: 3px solid $color1;
    border-radius: 100%;
    background-size: 110%;
}

.face-logo:hover {
    @include hover_transition;
    border: 3px solid $color4;
}
.side-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 190px;
}
// Icons
.side-footer a {
    @include hover_transition;
    height: 24px;
    width: 24px;
    svg {
        @include hover_transition;
        fill: rgba(desaturate(darken($color1, 0%), 0%), 0.35);
    }
    svg:hover {
        @include hover_transition;
        fill: rgba(desaturate($color4, 0%), 1);
    }
}

div.home-body {
    margin: 0 auto;
    max-width: 450px;
    text-align-last: center;
}

.post-date {
    color: desaturate(lighten($color_font, 65%), 70%);
}