body {
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    /* From Bootstrap: https://v4-alpha.getbootstrap.com/content/reboot/#native-font-stack */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}