@import '_colors';
@import '_mixins';

.goodreads-book-grid-widget {
  h2 {
    a { @include hover_transition; color: $color2 }
    a:hover { @include hover_transition; color: $color4 }
    padding-bottom: 12px;
    border-bottom: 3px solid desaturate(lighten($color2, 70%), 45%);
  }
}

.gr_grid_container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.gr_grid_book_container {
  margin: 10px 15px;
  img {
    box-shadow: 1px 1px 3px rgba($color2, 0.7);
    border-radius: 2%;
  }
}

.gr_grid_branding {
  display: none;
}